packages/
nuget.config


#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
ClientBin
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
Examples*/
SerializerTest*/
*.csproj.user
*.resharper*
Download/
#Ignore files from MonoDevelop
*.pidb
*.userprefs
restsharp-computed.nuspec
Backup/
*.htm
*.orig
DownloadSigned/
RestSharp.IntegrationTests/config.json
/.idea/.idea.RestSharp
/.vs/RestSharp/v15/sqlite3
/RestSharp.UWP/project.lock.json
*.ncrunchproject
*.ncrunchsolution
/.vs/RestSharp/v15/Server/sqlite3
/.vs/
/node_modules/
/out/
/docs/.vuepress/dist/
.vscode/
.temp/