<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net451" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net451" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net451" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net451" />
  <package id="SimpleJson" version="0.30.0" targetFramework="net451" />
  <package id="xunit" version="1.9.2" targetFramework="net451" />
  <package id="xunit.extensions" version="1.9.2" targetFramework="net451" />
</packages>