<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.6" targetFramework="net451" />
  <package id="Microsoft.Bcl.Async" version="1.0.165" targetFramework="net451" />
  <package id="Microsoft.Bcl.Build" version="1.0.13" targetFramework="net451" />
  <package id="Microsoft.Net.Http" version="2.2.18" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="net451" />
  <package id="NUnit" version="2.6.3" targetFramework="net451" />
</packages>