<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="portable-net403+sl50+win+wpa81+wp80+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="Microsoft.Bcl.Async" version="1.0.165" targetFramework="portable-net403+sl50+wp80+win+MonoAndroid10+MonoTouch10" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="portable-net403+sl50+win+wpa81+wp80+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="portable-net403+sl50+win+wpa81+wp80+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="SimpleJson" version="0.38.0" targetFramework="portable-net403+sl50+win+wpa81+wp80+MonoAndroid10+xamarinios10+MonoTouch10" />
</packages>