name: Build and deploy

on:
  push:
    paths-ignore:
      - 'docs/**'
      - 'yarn.lock'
      - 'package.json'
      - '.github/workflows/publish-docs.yml'
    branches:
      - master
    tags:
      - '*'

jobs:
  test-netcore-linux:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '3.1.100'

      - name: Run tests netcoreapp3.1
        run: dotnet test -c Release -f netcoreapp3.1

  test-netcore-win:
    runs-on: windows-latest
    
    steps:
    - uses: actions/checkout@v1

    - name: Run tests netcoreapp3.1
      run: dotnet test -c Release -f netcoreapp3.1
      
  test-net461:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v1

      - name: Run tests net461
        run: dotnet test -c Release -f net461
    
  nuget:
    runs-on: windows-latest
    needs: [test-netcore-win,test-netcore-linux,test-net461]

    steps:
    - uses: actions/checkout@v1

    - name: Create NuGet package
      run: dotnet pack -c Release -o nuget -p:IncludeSymbols=true -p:SymbolPackageFormat=snupkg

    - name: Push NuGet package
      run: dotnet nuget push **/*.nupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json --skip-duplicate
      
  