name: Build and deploy

on:
  push:
    paths-ignore:
      - 'docs/**'
      - 'yarn.lock'
      - 'package.json'
    branches:
      - dev
    tags:
      - '*'

jobs:
  test-win:
    runs-on: windows-latest
    
    steps:
    - uses: actions/checkout@v1

    - name: Run tests on Windows for all targets
      run: dotnet test -c Release 
    
  nuget:
    runs-on: windows-latest
    needs: [test-win,test-netcore-linux]

    steps:
    - uses: actions/checkout@v1

    - name: Create and push NuGet package
      run: |
        dotnet pack -c Release -o nuget -p:IncludeSymbols=true -p:SymbolPackageFormat=snupkg
        dotnet nuget push **/*.nupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json --skip-duplicate